body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff5c5c;
  overflow: hidden;
}

.master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
h1 {
  color: #fff;
}
p {
  font-size: 1.2em;
}
.dadosDoUsuario {
  padding: 10px;
  border-radius: 5px;
}
